@import "vars";
@import "fonts";
@import "libs";

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  color: $main-text;
  scroll-behavior: smooth;

  input, textarea {
    border: #666 1px solid;
    outline: none;

    &:focus:required:invalid {
      border-color: red;
    }

    &:required:valid {
      border-color: green;
    }
  }
}

// Custom Sass / Remove before use
ul {
  padding-left: 15px;

  li {
    list-style: none;
  }

  li:before {
    content: '\2022';
    display: block;
    position: relative;
    max-width: 0;
    max-height: 0;
    left: -15px;
    top: -3px;
    color: $accent;
    font-size: 20px;
  }
}

// button-effect
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple-effect {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  animation: ripple 1s ease forwards;
  z-index: 1;
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100);
  }
}
main{
  overflow: hidden;
}
// Nav
header {
  padding-bottom: 80px;
  display: flex;
  justify-content: center;

  nav {
    width: 100%;
    display: flex;
    padding: 0 50px;
    height: 80px;
    align-items: center;
    position: fixed;
    background: #ffffff;
    z-index: 9999;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

    .nav-container {
      max-width: 1270px;
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {

    }

    .nav-burger {
      margin-left: auto;
      display: none;
      cursor: pointer;

      .nav-burger-wrapper {
        width: 18px;
        height: 14px;
        position: relative;

        span {
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          background: #000;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          transition: .25s ease-in-out;

          &:first-child {
            top: 0;
          }

          &:nth-child(2) {
            top: 6px;
          }

          &:nth-child(3) {
            top: 6px;
          }

          &:nth-child(4) {
            top: 12px;
            width: 11px;
            right: 0;
          }
        }

        &:hover {
          span {
            &:nth-child(4) {
              top: 12px;
              width: 100%;
            }
          }
        }
      }
    }

    .nav-items-container {
      display: flex;

      .nav-items {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
        width: 100%;

        .nav-item {


          &:before {
            content: '';
            display: none;
          }

          a {
            color: $header-text;
            display: block;
            font-family: $default-font;
            text-decoration: none;
            transition: 0.3s;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            margin: 0 16px;
            padding: 10px 10px;

            &:hover {
              box-shadow: inset 0px -4px 0px #00C5D5;
            }
          }
        }

        .nav-item.active {
          a {
            box-shadow: inset 0px -4px 0px #00C5D5;
          }
        }
      }

      .nav-button {
        width: 133px;
        min-width: 133px;
        height: 51px;
        display: block;
        line-height: 49px;
        background: $white;
        color: $header-text;
        border: 1px solid #CCCCCC;
        border-radius: 27px;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        font-family: $default-font;
        transition: 0.3s all ease;
        margin-left: 16px;
        //box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

        &:hover {
          background: $header-text;
          color: $white;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
        }

        &:active {
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
        }
      }
    }

  }
}

// Head Info
.head-info {
  background-image: url("../img/@1x/main-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;

  .head-info-header {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    padding: 112px 0 20px;
  }

  .head-info-text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 113px;
  }
}

// headers
.sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  color: $sub-title-text;
  padding-top: 65px;
  text-transform: uppercase;
}

.section-header {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: $header-text;
  padding-top: 16px;
}

.sub-section-header {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  padding-top: 8px;
  max-width: 685px;
  width: 100%;
  margin-bottom: 40px;
}

.inner-section {
  margin-top: 80px;
}

// info card
.info-card-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;

  .info-card {
    max-width: 400px;
    width: 100%;
    background: $white;
    border: 1px solid $border-color;
    border-radius: 8px;
    padding: 32px;
    transition: all 0.3s ease-in-out;

    .info-card-title {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      text-transform: uppercase;
    }

    .info-card-text {
      font-weight: 300;
      font-size: 16px;
      line-height: 30px;
      padding-top: 8px;
    }

    &:hover {
      box-shadow: 0px 30px 50px rgba(179, 179, 179, 0.25);
      transition: all 0.3s ease-in-out;
    }
  }

}

// chip
.chip-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 24px;

  .chip {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    padding: 8px 16px 8px 36px;
    border: 1px solid $border-color;
    border-radius: 110px;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 8px;
      height: 8px;
      left: 17px;
      top: 19px;
      background: $accent;
      transform: rotate(-45deg);
    }
  }
}

// buttons
.button-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.black-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 23px;
  width: 210px;
  height: 70px;
  background: $black;
  border: 1px solid $black;
  border-radius: 73px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: $white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transition: all 0.3s ease-in-out;
    color: $white;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  }

  &:active {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
  }
}

;

// technology slider
.technology-slider {
  margin-top: 95px;
  margin-left: -50px;
  margin-bottom: 128px;

  .technology-slider-item {
    text-align: center;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    opacity: 0.8;
    transition: 0.3s all ease;
    min-height: 100px;
    overflow: hidden;
    margin: 0 5px;

    &:hover {
      filter: none;
      opacity: 1;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }
}

// portfolio-slider
.portfolio-slider {
  margin-top: 50px;
  margin-bottom: 148px;
  width: 100%;
  position: relative;

  .portfolio-slider-item {
    padding: 32px;
    background: $white;
    border: 1px solid $border-color;
    border-radius: 8px;

    .portfolio-slider-item-header {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 32px;
      color: $header-text;
      margin-bottom: 48px;
    }

    .portfolio-slider-item-img {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .portfolio-slider-text-wrapper {
      margin-top: 48px;
      display: flex;
      flex-wrap: wrap;
      gap: 90px;
      width: 100%;

      .portfolio-slider-text-item {
        max-width: 339px;
        width: 100%;

        .portfolio-slider-text-title {
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 32px;
          color: $header-text;
        }

        .portfolio-slider-text-content {
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 30px;
        }
      }
    }
  }

  .slick-prev.slick-arrow {
    position: absolute;
    background: $white;
    border: 1px solid $border-color;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -139px;
    left: inherit;
    right: 117px;
    transform: inherit;
    transition: all 0.3s ease-in-out;
    &:before {
      content: '';
      background-image: url("../img/@1x/left-arrow.png");
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-8px, -8px);
      opacity: 1;
    }
    &:hover{
      transition: all 0.3s ease-in-out;
      background: $border-color;
    }
  }

  .slick-next.slick-arrow {
    background: $white;
    border: 1px solid $border-color;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -139px;
    right: 0;
    transform: inherit;
    transition: all 0.3s ease-in-out;
    &:before {
      content: '';
      background-image: url("../img/@1x/right-arrow.png");
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-8px, -8px);
      opacity: 1;
    }
    &:hover{
      transition: all 0.3s ease-in-out;
      background: $border-color;
    }
  }
}

// steps
.steps-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  padding-top: 57px;
  padding-bottom: 56px;

  .step {
    max-width: 226px;
    width: 100%;
    align-self: start;
    padding: 10px;

    .step-img {

    }

    .step-text {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      color: $header-text;
      margin-top: 10px;
    }
  }

  .separator {
    width: 149px;
    height: 1px;
    background: $border-color;
  }

  .step-row-3 {
    display: none;
  }
}

// cookie
.cookie-info{
  position: fixed;
  background: $white;
  border: 1px solid $border-color;
  top: calc(100vh - 140px);
  width: 100%;
  height: 140px;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -10px 20px rgba(31, 32, 65, 0.05);
  .cookie-info-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .cookie-info-text{
      width: 65%;
    }
    .cookie-info-button-wrapper{
      width: 30%;
      display: flex;
      justify-content: center;
      .cookie-info-button{
        width: 237px;
        height: 51px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 64px;
        background: $black;
        border: 1px solid $black;
        border-radius: 73px;
        color: $white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          transition: all 0.3s ease-in-out;
          text-decoration: none;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
        }

        &:active {
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
footer{
  width: 100%;
  background: $bg-footer;
  padding: 90px 0;
  .footer-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .footer-separator{
      width: 1px;
      height: 248px;
      background: $border-color;
    }
    .form-wrapper{
      width: 60%;
      padding-right: 48px;
      max-width: 600px;
      position: relative;
      #form{
        &:after{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url("../img/_src/loading.gif") center / 50px no-repeat;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-in-out;
        }
      }
      #form.sending{
        &:after{
         opacity: 1;
          visibility: visible;
        }
      }
      .header-form{
        width: 100%;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        color: $black;
        margin-bottom: 8px;
      }
      .sub-title-form{
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 20px;
      }
      .response{
        display: none;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
      }
      .response.success{
        display: block;
        color: $accent;
      }
      .response.error{
        display: block;
        color: darkred;
      }
      .form-group{
        label{
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          margin-bottom: 0;
        }
        .form-control{
          height: 58px;
          padding: 12px 20px;
          &:focus{
            border-color: $accent;
            box-shadow: none;
          }
        }
        .form-control.error{
          border-color: darkred;
          &:focus{
            box-shadow: none;
          }
        }
        textarea.form-control{
          height: 120px;
          min-height: 120px;
        }
        label.error{
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          color: darkred;
        }
      }
      .send-mail-button-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        .send-mail-button{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 16px 23px;
          background: $black;
          border: 1px solid $black;
          border-radius: 73px;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: $white;
        }
      }

    }
    .footer-info-wrapper{
      padding-left: 48px;
      width: 35%;
      .footer-info-block{
        margin-bottom: 32px;
        .footer-info-block-header{
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          color: $black;
          margin-bottom: 8px;
        }
        .footer-info-block-content{
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: $black;
        }
        .footer-info-span-header{
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          color: $black;
        }
      }
    }
  }
}
.cookie-info.active{
  display: flex;
}
@import "media"; // Always at the end
